{% extends 'base.html.twig' %}

{% block title %}Hello BandController!{% endblock %}
{# this tag only applies to the forms defined in this template #}

{% block body %}

<div class="caca">
{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.musicalStyle) }}
{{ form_row(form.picture) }}
{{ form_row(form.description) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
</div>
{% endblock %}