{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
    {% for program in programs %}
        <li>{{ program.city }}</li>
         <li>{{ program.name }}</li>
          <li>{{ program.description }}</li>
            <li>{{ program.createdAt|date("m/d/Y")}}</li>
              <li>{{ program.journeyOfReservation|date('Y-m-d') }}</li>
    {% endfor %}
{% endblock %}
