{% block footer %}

	{% set footer = {
		'site_name': 'Crate Bar',
		'footer_main_menu': {
			0:{
			'id': 'about_us',
			'href': path("aboutUs"),
			'label': 'About Us'|trans,
			},
			1:{
			'id': 'terms_and_conditions',
			'href': path("termsAndConditions"),
			'label': 'Terms And Conditions'|trans,
			},
		},
		'social_networks_menu': {
			0:{
				'id': 'facebook',
				'href': 'http://www.facebook.com',
				'label': 'Facebook'|trans,
				'icon': 'facebook',
			},
			1:{
				'id': 'twitter',
				'href': 'https://twitter.com',
				'label': 'Twitter'|trans,
				'icon': 'twitter-x',
			},
			2:{
				'id': 'instagram',
				'href': 'https://www.instagram.com',
				'label': 'Instagram'|trans,
				'icon': 'instagram',
			},
			3:{
				'id': 'youtube',
				'href': 'https://www.youtube.com',
				'label': 'Youtube'|trans,
				'icon': 'youtube',
			},
			4:{
				'id': 'mail',
				'href': 'https://www.google.com',
				'label': 'Email'|trans,
				'icon': 'envelope-at-fill',
			},
		},

	} %}

	<footer>
		{% if footer.footer_main_menu ?? false %}
			<div class="footer-menu">
				<ul>
					{% for item in footer.footer_main_menu %}
						<li>
							<a class="" href="{{ item.href }}" title="{{ item.label }}">{{ item.label }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if footer.social_networks_menu ?? false %}
			<div class="social-networks-menu">
				<ul>
					{% for item in footer.social_networks_menu %}
						<li>
							{% if item.icon ?? false %}
								<a class="icon-link" href="{{ item.href }}" target="_blank" title="{{ item.label }}">
									<i class="bi bi-{{ item.icon }}"></i>
								</a>
							{% else %}
								<a class="footer-link" href="{{ item.href }}" target="_blank" title="{{ item.label }}">{{ item.label }}</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<div class='copyright'>
			<p>{{ '&copy;' }}{{ 'All right Reversed to'|trans ~ ' ' ~ footer.site_name }}</p>
		</div>
	</footer>
{% endblock %}
