{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Band Page' }}{% endblock %}

{% block body %}
  <div id='edit-band-page'>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.musicalStyle) }}
    {{ form_row(form.picture) }}
    {{ form_row(form.description) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
